In [3]:
import psycopg2

In [4]:
connection = psycopg2.connect(dbname = 'films')

In [6]:
cursor = connection.cursor()

In [9]:
cursor.execute("SELECT * FROM films")

In [10]:
row = cursor.fetchone()

In [12]:
rows = cursor.fetchmany(3)

In [13]:
remaining = cursor.fetchall()

In [14]:
remaining

[(5, 'Tinker Tailor Soldier Spy', 2011, 'espionage', 127, 5),
 (6, 'The Birdcage', 1996, 'comedy', 118, 6),
 (7, 'The Godfather', 1972, 'crime', 175, 3),
 (8, '12 Angry Men', 1957, 'drama', 96, 7),
 (9, "Wayne's World", 1992, 'comedy', 95, 8),
 (10, 'Let the Right One In', 2008, 'horror', 114, 5)]

In [15]:
rows

[(2, 'Casablanca', 1942, 'drama', 102, 2),
 (3, 'The Conversation', 1974, 'thriller', 113, 3),
 (4, '1984', 1956, 'scifi', 90, 4)]

In [16]:
row

(1, 'Die Hard', 1988, 'action', 132, 1)

In [17]:
cursor.close()

In [18]:
connection.close()

In [19]:
connection

In [20]:
cursor

In [27]:
remaining[1][3]

'comedy'

In [28]:
connection = psycopg2.connect(dbname = 'films')

In [29]:
cursor = connection.cursor()

In [32]:
cursor.execute('''
INSERT INTO directors (name)
VALUES
('Stanley Kubrick')
''')

In [33]:
cursor.close()

In [34]:
connection.commit()

In [35]:
connection.close()

In [36]:
connection = psycopg2.connect(dbname = 'films')

In [37]:
cursor = connection.cursor()

In [58]:
connection.rollback()

In [46]:
cursor.execute("SELECT * FROM directors")

In [59]:
cursor.execute('''
INSERT INTO directors (name)
VALUES
('Kiran Madan')
''')

In [67]:
connection = psycopg2.connect(dbname = 'films')

In [55]:
cursor = connection.cursor()

In [60]:
cursor.execute("SELECT * FROM directors")

In [61]:
cursor.fetchall()

[(1, 'John McTiernan'),
 (2, 'Michael Curtiz'),
 (3, 'Francis Ford Coppola'),
 (4, 'Michael Anderson'),
 (5, 'Tomas Alfredson'),
 (6, 'Mike Nichols'),
 (7, 'Sidney Lumet'),
 (8, 'Penelope Spheeris'),
 (9, 'Stanley Kubrick'),
 (12, 'Kiran Madan')]

In [68]:
cursor_2 = connection.cursor()

In [69]:
cursor_2.execute("SELECT * FROM directors")

In [70]:
cursor_2.fetchall()

[(1, 'John McTiernan'),
 (2, 'Michael Curtiz'),
 (3, 'Francis Ford Coppola'),
 (4, 'Michael Anderson'),
 (5, 'Tomas Alfredson'),
 (6, 'Mike Nichols'),
 (7, 'Sidney Lumet'),
 (8, 'Penelope Spheeris'),
 (9, 'Stanley Kubrick'),
 (13, 'Mohan Lal')]

In [92]:
from psycopg2 import extras

with psycopg2.connect(dbname = "films") as connection:
    with connection.cursor(cursor_factory = extras.DictCursor) as cursor:
        cursor.execute("SELECT * FROM films")
        rows = cursor.fetchall()

#connection.close()

In [93]:
cursor = connection.cursor(cursor_factory = extras.DictCursor)

In [94]:
cursor.execute("Select * from films")

In [96]:
test = cursor.fetchone()

In [99]:
test['title']

'Casablanca'

In [98]:
dict(test)

{'id': 2,
 'title': 'Casablanca',
 'year': 1942,
 'genre': 'drama',
 'duration': 102,
 'director_id': 2}

In [91]:
type(rows[0])

psycopg2.extras.DictRow

In [87]:
connection = psycopg2.connect(dbname='films')

try:
    with connection:
        with connection.cursor(cursor_factory=extras.DictCursor) as cursor:
            cursor.execute('SELECT * FROM directors')
            rows = cursor.fetchall()
finally:
    connection.close()

for row in rows:
    print(row['name'])

John McTiernan
Michael Curtiz
Francis Ford Coppola
Michael Anderson
Tomas Alfredson
Mike Nichols
Sidney Lumet
Penelope Spheeris
Stanley Kubrick
Mohan Lal

In [101]:
query = '''SELECT * FROM films JOIN directors
  ON films.director_id = directors.id
  WHERE name = 'Sidney Lumet'
  '''

In [103]:
connection = psycopg2.connect(dbname = 'films')

In [104]:
cursor = connection.cursor()
cursor_2 = connection.cursor(cursor_factory = extras.DictCursor)

In [105]:
cursor.execute(query)
cursor_2.execute(query)

In [106]:
row = cursor.fetchone()
row_2 = cursor_2.fetchone()

In [108]:
row[1]

'12 Angry Men'

In [111]:
row_2['title']

'12 Angry Men'

In [112]:
query = '''
SELECT * FROM films OFFSET 1
'''

In [113]:
cursor_2.execute(query)

In [114]:
films = cursor_2.fetchmany(2)

In [115]:
print(films[1]['duration'])

113

In [116]:
query = '''
SELECT genre, count(id) FROM films
  WHERE duration < 110
  GROUP BY genre;
  '''

In [117]:
cursor_2.execute(query)

In [118]:
rows = cursor_2.fetchall()

In [120]:
for row in rows:
    print(row['genre'],":", row['count'])

comedy : 1
scifi : 1
drama : 2

In [124]:
cursor.close()

In [125]:
cursor_2.close()

In [126]:
connection.close()

In [127]:
a = 32

In [130]:
f'{a}'.rjust(4)

'  32'

In [131]:
import datetime

In [132]:
datetime.now()

AttributeError: module 'datetime' has no attribute 'now'

In [133]:
import datetime

# Create a datetime object
now = datetime.datetime.now() 
print(f"Original datetime object: {now}")

# Extract the date part
date_only = now.date()
print(f"Date part: {date_only}")

# You can also create a specific datetime object and extract its date
specific_datetime = datetime.datetime(2025, 10, 18, 10, 30, 0)
print(f"Specific datetime object: {specific_datetime}")

specific_date_only = specific_datetime.date()
print(f"Date part of specific datetime: {specific_date_only}")

Original datetime object: 2025-10-18 18:12:28.221646
Date part: 2025-10-18
Specific datetime object: 2025-10-18 10:30:00
Date part of specific datetime: 2025-10-18

In [134]:
from textwrap import dedent

print(dedent("""
    First line
        Another line
  Still another line
      Final line
"""))

  First line
      Another line
Still another line
    Final line

In [139]:
from textwrap import dedent

print(dedent("""
    First line
        Another line
  Still another line
      Final line
""").strip("\n"))

  First line
      Another line
Still another line
    Final line

In [137]:
from textwrap import dedent

print(dedent("""
    First line
        Another line
  Still another line
      Final line
"""))

  First line
      Another line
Still another line
    Final line

In [140]:
from textwrap import dedent

print(dedent("""
    First line
        Another line
  Still another line
      Final line
""").strip("\n"))

  First line
      Another line
Still another line
    Final line

In [142]:
import datetime

In [147]:
datetime.datetime.now()

datetime.datetime(2025, 10, 19, 13, 57, 43, 437292)

In [148]:
from contextlib import contextmanager

In [165]:
@contextmanager
def customer_db_connection(db_name):
    connection = psycopg2.connect(dbname = db_name)
    try:
        with connection:
            yield connection
    finally:
        connection.close()

In [166]:
with customer_db_connection(db_name = 'expenses') as connection:
    with connection.cursor() as cursor:
        cursor.execute("INSERT INTO expenses (amount, memo) VALUES (3, 'Do not care')")
        #rows = cursor.fetchall()

In [167]:
with customer_db_connection(db_name = 'expenses') as connection:
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM expenses")
        rows = cursor.fetchall()

In [168]:
for row in rows:
    print(row)

(1, Decimal('14.56'), 'Pencils', datetime.datetime(2025, 10, 19, 12, 18, 10, 804317))
(2, Decimal('3.29'), 'Coffee', datetime.datetime(2025, 10, 19, 12, 18, 10, 804317))
(3, Decimal('49.99'), 'Text Editor', datetime.datetime(2025, 10, 19, 12, 18, 10, 804317))
(4, Decimal('3.59'), 'More Coffee', datetime.datetime(2025, 10, 19, 12, 18, 17, 195574))
(7, Decimal('3.59'), 'Some more Coffee', datetime.datetime(2025, 10, 21, 17, 1, 40, 613255))
(10, Decimal('3.00'), 'Do not care', datetime.datetime(2025, 10, 21, 18, 11, 7, 797733))

In [160]:
connection.closed

1

In [161]:
rows

[(1,
  Decimal('14.56'),
  'Pencils',
  datetime.datetime(2025, 10, 19, 12, 18, 10, 804317)),
 (2,
  Decimal('3.29'),
  'Coffee',
  datetime.datetime(2025, 10, 19, 12, 18, 10, 804317)),
 (3,
  Decimal('49.99'),
  'Text Editor',
  datetime.datetime(2025, 10, 19, 12, 18, 10, 804317)),
 (4,
  Decimal('3.59'),
  'More Coffee',
  datetime.datetime(2025, 10, 19, 12, 18, 17, 195574)),
 (7,
  Decimal('3.59'),
  'Some more Coffee',
  datetime.datetime(2025, 10, 21, 17, 1, 40, 613255))]

In [184]:
@contextmanager
def outer():
    print("Enter Outer")
    try:
        yield inner()
    finally:
        print("Exit Outer")

@contextmanager
def inner():
    print("Enter Inner")
    try:
        yield
    finally:
        print("Exit Inner")

with outer() as i:
    with i:
        print("Hi")

Enter Outer
Enter Inner
Hi
Exit Inner
Exit Outer

In [186]:
connection = psycopg2.connect(dbname = 'expenses')

In [188]:
with connection:
    cursor = connection.cursor()
    with cursor:
        cursor.execute("SELECT * FROM expenses")
        rows = cursor.fetchall()

In [192]:
cursor.close()

In [193]:
connection.close()

In [194]:
connection